.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  overflow:hidden;
  background-color: #f2f2f2;

  }

.title_header{
  z-index: 3;
  justify-self:flex-end;
  flex-wrap: wrap;
  width: 730px;
  margin-left:64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  }

  .link{
  text-decoration:underline;
  }

.subtitle_header{
  position: absolute;
  display:flex;
  flex-wrap: wrap;
  z-index: 2;
  width:388px;
  left:64px;
  bottom:30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  }

.header__logo{
  position: absolute;
  display: flex;
  width:228px;
  height: 32px;
  left:64px;
  top:30px;
    }
  .logo{
  display: flex;
  width:228px;
  height: 32px;
  left:64px;
  top:30px;
    }


.main-illustration {
  position: absolute;
  display: flex;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}


.square-pic {
  text-align: start;
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
}
.description__two-colums{
  margin-top: 100px;
  margin-bottom:100px;
  width: 80%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


}

.two-colums__brief{
  align-self: flex-start;
  flex-wrap: wrap;
  margin-left: 64px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: blue;

}
  .two-colums__main_text{
min-width: 784px;
width: 80%;
flex-wrap: wrap;
}

.two-colums__paragraf{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.span_accent{
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: normal;

}

.digits {
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}


.section-subtitle {
  margin: 20px 0 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
}



.table {
  display: flex;
  width: 1100px;
  align-content: space-between;
  z-index: 1;
}

.table__cell {
  display: inline-block;
  margin-top: 60px;
  width: 250px;
  vertical-align: top;
  flex-wrap: wrap;

}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
}
.feynman{
position: relative;
display: flex;
flex-direction: column;
align-items:center;
height:890px;
background-color: #f2f2f2;
}
.feynman__section-title {
margin: 0;
width:648px;
line-height: 1.15;
font-size: 120px;
font-weight:bolder;
text-align: center;
z-index: 1;
}


.feynman__section-subtitle {
margin: 70px 0 0;
line-height: 51px;
font-size: 36px;
font-weight:normal;
text-align: center;
z-index: 2;
}
.feynman__link{
position: absolute;
right: 48px;
top:50%;
line-height: 51px;
font-size: 36px;
font-weight:normal;
color: blue;
}
.feynman__img{
position: absolute;
display: flex;
width:868px;
height: 637px;
left:0;
bottom: 0;
z-index: 0;
}

.kayfman {
position: relative;
display: flex;
padding: 90px 0;
flex-direction: column;
align-items:center;
color:#f2f2f2;
background-color:#1f1f1f;
}

.section-title__cell_theme_dark {
margin: 0;
width: 60%;
line-height: 1.15;
font-size: 60px;
font-weight:bolder;
text-align: center;
}


.section-subtitle__theme_dark {
margin: 20px 0 0;
width: 60%;
line-height: 34px;
font-size: 24px;
font-weight:normal;
text-align: center;
}
.table__theme_dark {
  display: flex;
  width:1100px;
  align-content: space-between;
  z-index: 1;
}
.table__cell__theme_dark {
  display: inline-block;
  margin-top: 80px;
  width: 200px;
  vertical-align: top;
  flex-wrap: wrap;
}



.table__heading__theme_dark {
  margin-bottom:20px;
  font-weight: bolder;
  line-height: 1.15;
  font-size: 60px;
}

.table__text__theme_dark {
  font-weight: normal;
  line-height: 1.2;
  font-size: 18px;
  }

.kayfman_img{
position: absolute;
display: inline-block;
width: 877px;
height: 877px;
top:0;
right: -210px;
z-index: 0;
}
.footer {
  min-height: 350px;
  margin: 0;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 90%;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column__content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo__place_footer {
  background-image: url(images/logo_place_footer.svg);
}

.footer__author {
  display: flex;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  color: white;
  font-weight: bold;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
